html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #cccccc;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  padding: 3rem 1rem;
}
